*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 150px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px; 
    justify-content: flex-start;
    position:fixed ;
    z-index: 99;
}

#nav img{
    height: 80px;
}

#nav h4{
    text-transform: uppercase;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}